 @import url('../meddela/styles.css');


 .toolbar .v-button {
     display: block;
     height: 63px;
     background: transparent;
     border: none;
     text-align: center;
 }

 .toolbar .v-button img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 2px;

 }
