@import url(../reindeer/styles.css);

/*---------------------------------------------------------
toolbar
--------------------------------------------------------*/

.toolbar .v-button {
    display: block;
    height: 60px;
    background: transparent;
    border: none;
    text-align: center;
}

.toolbar .v-button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;

}

.toolbar .v-button span {
    font-size: x-small;
    color: #777777;
    text-shadow: #fafafa 1px 1px 0;
}

.toolbar .v-button .v-button-wrap,
.toolbar .v-disabled.v-button .v-button-wrap {
    background: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.toolbar .v-button:active .v-button-wrap,
.toolbar .v-button.v-pressed .v-button-wrap {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.toolbar {
    background: #ccc url(images/gradient.png) repeat-x bottom left;
}

/*-----------------------------------------------------------------------
app
---------------------------------------------------------------------*/

.v-app {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #222;
}

.view {
    background: white;
}

/*--------------------------------------------------------------------------
login form
--------------------------------------------------------------------------*/

.loginForm {
    border-color: #CCCCCC #EEEEEE;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.loginBox {
    width: 250px;
    border-color: #00adee;
    text-align: center

}

.loginLabel {
    width: 100px;
    font-size: 13px;
    text-shadow: #fafafa 1px 1px 0;
    color: #2f4f4f;

}

.loginButton {
    font-size: small;
    text-shadow: #fafafa 1px 1px 0
}

.login_logo{
    border-color: #CCCCCC #EEEEEE;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

}

/*-------------------------------------------------------------
reports
---------------------------------------------------------------*/
.reportsLabel {
    color: #9999cc;
    text-align: center;
    border: #888888 thin 1px;
    padding-top: 10px
}

/*----------------------------------------------------------------
stats
-------------------------------------------------------------*/

.stats_header td{
    color: #2f4f4f;
    padding-right: 10px;
    border-bottom: 1px solid #dcdcdc;
    border-right:1px solid #dcdcdc;
    text-align: center;
}

.stats_name {
    width: 280px;
    color: #483d8b;
}

.stats_detail {
    width: 120px;
    text-align: center;
}
